#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#input{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:right;
}

#selectBox{
  display:flex;
  flex-direction: column;
}
#totalsBox > p {
  padding: 10px;
}